<button type="button" class="btn btn-primary" (click)="openModal(template)">
  Add Account
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Account</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="checkoutForm"
      (ngSubmit)="saveAccount(checkoutForm.value)"
    >
      <div>
        <label for="provider">
          Provider
        </label>
        <input id="provider" type="text" formControlName="provider" required />
      </div>
      <div>
        <label for="email">
          Email
        </label>
        <input id="email" type="text" formControlName="email" required />
      </div>

      <div>
        <label for="password">
          Password
        </label>
        <input id="password" type="text" formControlName="password" required />
      </div>

      <button  id="button-ag" class="button"  type="submit">Agregar</button>
    </form>
  </div>
</ng-template>
