<div class="container" *ngFor="let item of accounts | async">

<div class="shadow p-4 mb-4 bg-white">
  
    <div  class="row" id="row"> 
        <div class="col-sm-10 text-uppercase" >
          {{ item.provider }}
        </div>
        <div class="col-sm-1">
          <button
            type="button"
            class="btn btn-warning"
            (click)="openModal(template)"
          >
            Edit
          </button>
    
          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Edit Account</h4>
              <button
                type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="modalRef.hide()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form
                [formGroup]="checkoutForm"
                (ngSubmit)="updateAccount(checkoutForm.value, item.id)"
              >
                <div>
                  <label for="provider">
                    Provider
                  </label>
    
                  <input
                    id="provider"
                    type="text"
                    value=" {{ item.provider }}"
                    formControlName="provider"
                    placeholder="Provider"
                    required
                  />
                </div>
                <div>
                  <label for="email">
                    Email
                  </label>
                  <input
                    id="email"
                    type="email"
                    value="{{ item.email | data }}"
                    type="text"
                    formControlName="email"
                    placeholder="Email"
                    required
                  />
                </div>
    
                <div>
                  <label for="password">
                    Password
                  </label>
                  <input
                    id="password"
                    type="text"
                    value=" {{ item.password | data }}"
                    type="text"
                    formControlName="password"
                    placeholder="Password"
                    required
                  />
                </div>
    
                <button class="button" type="submit">Agregar</button>
              </form>
            </div>
          </ng-template>
        </div>
        <div class="col-sm-1">
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="deleteAccount(item.id)"
          >
            Delete
          </button>
        </div>
      </div>
</div>


</div>
